 body {
	    justify-content: center; /* Center horizontally */
            font-family: Arial, sans-serif;
            background-color: #333333;
            color: #fff;
   letter-spacing: 1px;
            text-align: center;
            margin: 0;
            padding: 0;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='1500' preserveAspectRatio='none' viewBox='0 0 2000 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3cpath d='M274.04 0C274.04 28.42 99.91 109.62 0 109.62C-37.11 109.62 -39.15 15.66 0 0C97.87 -39.15 274.04 -26.39 274.04 0' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M612.8 375C639.87 211.54 431.71 110.71 472.22 0C500.31 -76.79 611.11 0 750 0C854.16 0 932.81 -66.34 958.33 0C1004.93 121.16 890.38 188.21 894.23 375C898.11 563.21 970.97 561.97 973.79 750C976.6 936.97 978.94 960.89 905.49 1125C867.05 1210.89 813.59 1174.75 750 1250C655.15 1362.25 697.76 1427.23 588.61 1500C510.26 1552.23 481.81 1500 375 1500C285.24 1500 195.48 1547.06 195.48 1500C195.48 1417.25 265.1 1348.2 375 1240.38C456.21 1160.7 577.7 1194.34 577.7 1125C577.7 1042.9 488.75 937.5 375 937.5C208.83 937.5 196.77 1031.97 17.86 1125C9.27 1129.47 6.44 1132.5 0 1132.5C-2.49 1132.5 0 1128.75 0 1125C0 937.5 0 937.5 0 750C0 746.01 -3.62 743.59 0 742.02C183.88 662.07 203.35 689.77 375 586.96C509.75 506.26 591.26 505.02 612.8 375' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 220C1364.66 220 1225 61.77 1225 0C1225 -48.23 1362.5 0 1500 0C1626.93 0 1753.85 -47.35 1753.85 0C1753.85 62.65 1629.09 220 1500 220' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2250 151.79C2199.8 151.79 2082.24 43.58 2082.24 0C2082.24 -32.32 2205.96 -39.84 2250 0C2289.84 36.05 2283.68 151.79 2250 151.79' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1406.25 1125C1433.94 1078.15 1456.14 1063.78 1500 1063.78C1534.27 1063.78 1534.38 1091.54 1562.5 1125C1717.71 1309.65 1884.43 1393.43 1866.67 1500C1853.18 1580.93 1683.34 1500 1500 1500C1371.1 1500 1260.3 1572.46 1242.19 1500C1213.43 1384.96 1305.03 1296.26 1406.25 1125' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2138.16 1125C2183.42 1066.54 2216.3 1026.92 2250 1026.92C2272.22 1026.92 2250 1075.96 2250 1125C2250 1312.5 2342.65 1405.15 2250 1500C2159.51 1592.65 1908.72 1583.81 1883.72 1500C1852.8 1396.31 2000.28 1303.08 2138.16 1125' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 95C1441.56 95 1381.25 26.67 1381.25 0C1381.25 -20.83 1440.63 0 1500 0C1554.81 0 1609.62 -20.45 1609.62 0C1609.62 27.05 1555.74 95 1500 95' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M485.29 750C485.29 644.64 647.72 545.45 750 545.45C816.36 545.45 822.58 647.2 822.58 750C822.58 861.98 818.29 975 750 975C649.65 975 485.29 859.42 485.29 750' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M295.21 1500C295.21 1463.23 332.7 1384.62 375 1384.62C420.06 1384.62 469.94 1464.72 469.94 1500C469.94 1522.41 422.47 1500 375 1500C335.11 1500 295.21 1520.92 295.21 1500' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1388.67 1500C1388.67 1433.6 1436.29 1302.08 1500 1302.08C1571.12 1302.08 1658.33 1439.09 1658.33 1500C1658.33 1538.05 1579.16 1500 1500 1500C1444.34 1500 1388.67 1532.56 1388.67 1500' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2101.74 1500C2101.74 1415.15 2210.24 1245 2250 1245C2284.37 1245 2296.88 1419.38 2250 1500C2222.75 1546.88 2101.74 1542.65 2101.74 1500' stroke='rgba(41%2c 89%2c 139%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='2000' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        }
.backhome {
width: 100px;
}
        .container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #1c1b1b;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
            transform: scale(1);
            transition: transform 0.5s ease;
        }

        .container:hover {
            transform: scale(1.05);
        }

        .logo img {
            max-width: 80px;
            transition: transform 0.8s;
        }

        .logo:hover {
            transform: rotate(360deg);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .title-line {
            background-color: #00a0e5;
            height: 2px;
            margin-bottom: 20px;
        }

        .bio-text {
            font-size: 16px;
            line-height: 1.6;
        }

        /* Add keyframe animations */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .bio-text {
            animation: fadeIn 1s ease;
        }
.fancy-hr {
  border-radius: 50%; 
    border: none;
    height: 4px;
    margin: 20px 0;
    background: linear-gradient(to right, #00a0e5, #000, #000, #00a0e5);
    background-size: 200% 100%;
    animation: slide 7s linear infinite;
  }

  @keyframes slide {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
/* Media query for screens smaller than 600px wide (typical mobile devices) */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    .bio-text {
        font-size: 14px;
    }
}
.hr-desc {
    border: none;
    height: 2px;
    background-color: white;
    margin: 20px auto;
    width: 50%;
  border-radius: 5px; 
}



/*needCSS copyright 2023 */
